.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .item {
    margin: 10px;
  }
 
.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }