/* src/styles.css */

@font-face {
    font-family: 'Inika';
    src: url('./fonts/InriaSerif-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-size: 16px; 

  }
  
  body {
    font-family: 'Inika', serif; 
  }
  