/* src/styles.css */

@font-face {
    font-family: 'Inika';
    src: url('./fonts/InriaSerif-Regular.ttf') format('truetype'); /* Adjust the path and format accordingly */
    font-weight: normal;
    font-style: normal;
    font-size: 16px; /* Set the font size to 16 pixels */

  }
  
  body {
    font-family: 'Inika', serif; /* Apply the font to the entire body */
  }
  